.HeaderClass {
	font-size: 20px;
	padding: 0 100px 0 100px;
	font-family: 'Times New Roman', Times, serif;
}

.HeaderClass a:hover {
	color: #fff; /* Цвет текста */
    background: #f66d52; /* Цвет фона */
	border-bottom: 2px solid #000;
	
}

.Top {
	background: url("photo.jpg") no-repeat;
	background-size: cover;
	height: 900px;
}

h2 {
	font-size: 24px;
}

.Test {
	background-color: #212121;
	margin-top: 300px;
	display: inline-block;
	color:#fff;
	padding: 20px 20px;
}

.Second {
	margin-top: 100px;
}

#AbousUs {
	font-size: 32px;
	font-weight: bold;
}

.collg3p {
	color: red;
	display: inline-block;
	font-size: 28px;
}

.cardclass {
	border: 2px solid #e0e0e0;
	padding: 5px 5px;
}

.Thirty {
	background-color: #F5F5F5;
	margin-top: 50px;
}

.left {
	float: left;
	margin: 0 1em 1em 0;
}

.carousel-control-prev-icon {
	background-color: #000;
	margin-right: 100px;
	border-radius: 15px;
}

.carousel-control-next-icon {
	background-color: #000;
	margin-left: 100px;
	border-radius: 15px;
}

.carousel-item p {
	padding: 10px 40px;
}

.carousel-item h5 {
	padding: 10px 40px;
	font-size: 28px;
	font-weight: bold;
}

.Foot {
	background-color: #212121;
	color: #fff;
}